html,
body {
    height: 100%;
    margin: 0;
}

body>div {
    height: 100%;
    max-width: 800px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', Helvetica, sans-serif;
    color: white;
    background-color: #333333;
}

#appContainer {
    box-shadow: 0px 0px 3px 2px black;
    min-height: 100%;
}

/* HOME */
#home {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #333333;
    text-align: center;
    color: #14CC92;
}

#home h1 {
    font-size: 50px;
    margin-top: 30vh;
    font-family: 'Ivar Text', 'Georgia', serif;
}

/* ADD EXPENSE VIEW */
#closeExpVw,
#closeExpListVw {
    float: right;
    display: block;
    cursor: pointer;
}

#addExpenseView div,
#allExpensesView div {
    min-height: 20px;
}

.addExpFieldset {
    border: none;
    padding: 0;
    position: relative;
}

.addExpFieldset.focus label {
    color: #14CC92;
    font-weight: bold;
}

.addExpFieldset.float label {
    font-size: 12px;
    top: -10px;
}

.addExpFieldset.focus input {
    border-bottom: solid 2px #14CC92;
}

.addExpFieldset label {
    position: absolute;
    top: 8px;
    transition: all 0.2s ease;
    font-size: 20px;
    color: white;
}

.addExpFieldset input {
    width: 99.5%;
    height: 27px;
    border: none;
    outline: none;
    border-bottom: solid 1px white;
    background-color: transparent;
    color: white;
    font-size: 20px;
}

.partListItem {
    display: flex;
    /* justify-content: space-between; */
    justify-content: space-evenly;
}

.partListItem p {
    display: inline-block;
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #14CC92;
}

input:focus+.slider {
    box-shadow: 0 0 1px #14CC92;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

#partList input {
    width: 20px;
}

#partList input:checked {
    background-color: #14CC92;
}

#errorInp {
    color: red;
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* CONFIRMATION */
#confirmation {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #333333;
    text-align: center;
}

#confirmation * {
    max-width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* GENERAL STYLES */
.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hidden {
    display: none;
}

.bgOrange {
    background-color: #333333;
}

.rounded {
    border-radius: 10px;
}

.padding10 {
    padding: 20px;
}

.heigth100 {
    min-height: 90vh;
    /* margin-top: 3vh;
    margin-bottom: 3vh; */
}

.mb1 {
    margin-bottom: 5px;
}

.mb2 {
    margin-bottom: 10px;
}

.mb3 {
    margin-bottom: 15px;
}

.mb4 {
    margin-bottom: 20px;
}

.pb1 {
    margin-bottom: 5px;
}

.m2 {
    margin: 10px;
}

.expense {
    display: flex;
    justify-content: space-between;
    border: solid 2px #14CC92;
    margin: 10px;
    border-radius: 10px;
    padding-right: 20px;
    padding-left: 20px;
}

.expense>* {
    display: inline-block;
    overflow: hidden;
    width: 22%;
    text-align: center;
}

.expense span {
    position: relative;
    top: 15px;
    cursor: pointer;
    text-align: right;
}

.details {
    align-self: flex-end;
}

button {
    width: 100%;
    background-color: #14CC92;
    color: white;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}